<div class="brand" data-id="<%=@brand.id%>">
  <img src= "<%=@brand.avatar_img%>", width="50", class="avatar"><br>
  <img src= "<%=@brand.header_img%>", width="300", class="header"><br>
  <strong>Brand name</strong> <%=@brand.brand_name%><br>
  <strong>Website</strong> <%=@brand.website%><br>
  <strong>Phone</strong> <%=@brand.phone%><br>
  <strong>Email</strong> <%=@brand.email%><br>
  <strong>Address</strong> <%=@brand.address%><br>
  <strong>Description</strong> <%=@brand.description%><br>
  <button class="edit btn">Edit</button>
</div>