<div class="brand" data-id="<%=@brand.id%>">
  <strong>Brand name</strong> <%=@brand.brand_name%><br>
  <strong>Website</strong> <%=@brand.website%><br>
  <strong>Phone</strong> <%=@brand.phone%><br>
  <strong>Email</strong> <%=@brand.email%><br>
  <strong>Address</strong> <%=@brand.address%><br>
  <strong>Description</strong> <%=@brand.description%>
</div>