<div class="brand_social">
  <table class="table table-hover">
    <thead>
      <tr>
        <td colspan="4"></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Instagram</strong></td> 
        <td><i class="fa fa-instagram"></i></td>
        <td><%=@brand.instagram.instagram_username%></td>
        <td><a href="#">Link/unlink</a></td>
      </tr>
      <tr>
        <td><strong>Soundcloud</strong></td>
        <td><i class="fa fa-soundcloud"></i></td>
        <td><%=@brand.soundcloud.soundcloud_username%></td>
        <td><a href="#">Link/unlink</a></td>
      </tr>
      <tr>
        <td><strong>Vimeo</strong></td>
        <td><i class="fa fa-vimeo-square"></i></td>
        <td><%=@brand.vimeo.vimeo_username%></td>
        <td><a href="#">Link/unlink</a></td>
      </tr>
<!--       <tr>
        <td><strong>Pinterest</strong></td>
        <td><i class="fa fa-pinterest"></i></td>
        <td><%=@brand.pinterest.pinterest_username%></td>
        <td><a href="#">Link/unlink</a></td>
      </tr>
      <tr>
        <td><strong>Twitter</strong></td>
        <td><i class="fa fa-twitter"></i></td>
        <td><%=@brand.twitter.twitter_username%></td> 
        <td><a href="#">Link/unlink</a></td>
      </tr> -->
    </tbody>
  </table>
</div>