<%= form_tag(brands_path, method: "post") do %>
  <div class="form-group">
    <%= label_tag(:user_name,"Username" ) %>
    <%= text_field_tag(:user_name)%>
  </div>
  <div class="form-group">
    <%= label_tag(:email, "Email") %>
    <%= text_field_tag(:email)%>
  </div>
  <div class="form-group">
    <%= label_tag(:one_time_passcode,"One Time Passcode" ) %>
    <%= text_field_tag(:one_time_passcode)%>
  </div>
  <div class="form-group">
    <%= label_tag(:password, "New Password") %>
    <%= password_field_tag(:password)%>
  </div>
  <div class="form-group">
    <%= label_tag(:password_confirmation, "Confirm Password" ) %>
    <%= password_field_tag(:password_confirmation)%>
  </div>
  <%= submit_tag "Validate your account.", :class => "btn btn-info round2" %>
<%end%>


